* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: light;
    src: url(./Aeonik\ Pro\ Light.ttf);
}

@font-face {
    font-family: regular;
    src: url(./Aeonik\ Pro\ Medium.ttf);
}

@font-face {
    font-family: bold;
    src: url(./Aeonik\ Pro\ Bold.ttf);
}

#main {
    height: 100%;
    width: 100%;
    background-color: #111;
}