* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: aeonik;
    color: var(--pri);
}

html,
body {
    width: 100%;
    height: 100%;
}

:root {
    --pri: #fff;
    --sec: #381c0a;
    --tri: lightseagreen;
    --tri1: #e5b299;
    --tri2: #b4846c;
}

@font-face {
    font-family: aeonik;
    font-weight: 200;
    src: url(./Aeonik\ Pro\ Light.ttf);
}

@font-face {
    font-family: aeonik;
    font-weight: 500;
    src: url(./Aeonik\ Pro\ Medium.ttf);
}

@font-face {
    font-family: aeonik;
    font-weight: 700;
    src: url(./Aeonik\ Pro\ Bold.ttf);
}

#main {
    height: 100%;
    width: 100%;
    background-color: #381c0a;
}

h1 {
    font-weight: 700;
}

nav {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--tri2);
}

section.allElems {
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 40px;
}

.elem {
    background-color: #ec610b;
    /* padding: 30px 40px; */
    height: 400px;
    width: 330px;
    font-size: 30px;
    border-radius: 10px;
    overflow: hidden;
}

.elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.elem 